@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Gautreaux';
  src: url('/fonts/Gautreaux-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #F6F3F3;
  --foreground: #583B39;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--background); /* force */
    --foreground: var(--foreground); /* force */
  }
}

body {
  background: var(--background);
  color: #583B39;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.4;
}

p,th,td{
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.font-hand-writing{
  font-family: 'Gautreaux', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.section-container{
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}


.table-border{
  border-bottom: 1px solid #D9D4CF;
}

.button{
  padding: 1em 2em;
  color: #F3EEE9;
  background-color: #DD813A;
  border-radius: 8px;
}